#about_me

	.col-md-12.about-me-details

		.about-me-mission
			.about-me-header 
				I always seek adventure.
			.about-me-subtitle
				I fuck up a lot, and sometimes succeed too; but the journey's always worthwhile.
			.about-me-mission-text
				“Adventure” is aggressively overused, so let me clarify...I thrive most when uncertainty exists, the unexpected is expected and “new” describes everyone I meet, everywhere I go and the situations I experience.
				<br>
				<br>
				I've learned that travel and business are very aligned and I view them as such. My affinity for adventure branches to both of my passions: in business, it’s those who are comfortable deviating from the norm that will succeed and in travel, it’s those who go outside of their comfort zone that will have the most authentic experiences.
				<br>
				<br>
				Whether through launching travel tech companies, riding across countries on motorcycles, learning to code or circumnaviating the world on a ship, I'm constantly striving towards adventures in unfamiliar people, places and experiences.

		#my_beliefs
			.quote-content
				.traveler-quote-header
					What I strongly believe
				.traveler-quote-name
					Travel can be used as a force for good.
				.traveler-quote-text
					In addition to being the world's largest wealth distribution mechanism, travel can widen perspectives, evoke empathy and bring our world closer together. Travel has not only exposed the beauty and excitement in life but also, how unaware many are about one another. Because of this, I’ve dedicated my life helping others experience our world in a meaningful and positive way.
				.quote-images
					.quote-image-button.blue-link{"data-name" => "Travel can be used as a force for good.", "data-description" => "In addition to being the world's largest wealth distribution mechanism, travel can widen perspectives, evoke empathy and bring our world closer together. Travel has not only exposed the beauty and excitement in life but also, how unaware many are about one another. Because of this, I’ve dedicated my life helping others experience our world in a meaningful and positive way.", style: "background: url('#{asset_path("icons/hotair.png")}') center center no-repeat; border: 4px solid #fff;"}
					.quote-image-button.yellow-link{"data-name" => "Entrepreneurship can solve our biggest challenges.", "data-description" => "Not only do I love problem solving, I have a healthy obsession with defining the right problems to solve through design thinking and empathy research (largely due to my experiences with Stanford’s d.school and Unreasonable at Sea). When I can pinpoint a problem worth solving as well as connect with users and their needs, I develop businesses around problems, not solutions.", style: "background: url('#{asset_path("icons/lightbulb.png")}') center center no-repeat"}
					.quote-image-button.green-link{"data-name" => "Offline travel experiences begin online.", "data-description" => "From discovery to post-trip, I’ve developed a particular interest in how travel experiences develop online from the perspective of both the traveler and the service providers. For the past three years, I've been working with hundreds of tour operators and guides with the most authentic travel experiences to determine how best we can bridge their offline offerings on to the web.", style: "background: url('#{asset_path("icons/dev.png")}') center center no-repeat"}

		.brands-container
			.brands-header
				Brands I've Built
			.brands-subtitle
				From tour booking applications to trip creation and consulting with non-profits, these are the companies that drive me (and keep me up at night).
			.col-md-12.brand-row
				.col-md-6.thumb
					.thumb-background
						.thumb-text
							See the next round of trips
							<br>
							.fa.fa-angle-down{style: "color: #212326; font-size: 64px; margin: auto;"}
					%a.btn{:href => "http://www.madebyadventure.com/", :target => "_blank", style: "background: url('#{asset_path("background/surfsmilelogo.jpeg")}') center center no-repeat"}
						%span madebyadventure.com
				.col-md-6.brand-text-box
					.brand-grid-header
						MadebyAdventure
					.brand-grid-subheader
						Co-Founder // CEO // Lead Developer
					.brand-grid-description
						A for-profit social enterprise, MadebyAdventure was founded in order to use travel as a force for good. Our team has partnered with non-profits, media outlets, ambassadors and travelers around the world to collaborate on trips that not only make a positive impact economically but also to minimize the environmental footprint and promote empathy through local guides and experiences. Our 2016 trips include Kyrgyzstan, Peru, Colombia, Vietnam, Mexico and Panama. A 
						%a{:href => "http://www.madebyadventure.com/consulting", :target => "_blank"} consulting branch 
						was also established to assist our local partners on an on-going basis post-trip. 

			.col-md-12.brand-row
				.col-md-6.brand-text-box
					.brand-grid-header
						Adventure Local
					.brand-grid-subheader
						Founder // CEO
					.brand-grid-description
						I founded Adventure Local (Advlo) in 2013 after circumnavigating the globe, meeting countless amazing local guides and realize all of my best experiences stemmed from authentic connections that couldn’t be found online. Our team built a platform for 600 local guides and operators to market their trips, communicate with customers, schedule reservations and take global payments.
				.col-md-6.thumb
					.thumb-background
						.thumb-text
							Search through our database
							<br>
							.fa.fa-angle-down{style: "color: #212326; font-size: 64px; margin: auto;"}
					%a.btn{:href => "http://www.advlo.com/", :target => "_blank", style: "background: url('#{asset_path("background/surflessonlogo.jpeg")}') center center no-repeat"}
						%span advlo.com


			.col-md-12.brand-row
				.col-md-6.thumb
					.thumb-background
						.thumb-text
							Travel on two wheels
							<br>
							.fa.fa-angle-down{style: "color: #212326; font-size: 64px; margin: auto;"}
					%a.btn{:href => "http://www.motoguides.com/", :target => "_blank", style: "background: url('#{asset_path("background/motorcycleshot.jpeg")}') center center no-repeat"}
						%span motoguides.com
				.col-md-6.brand-text-box
					.brand-grid-header
						MotoGuides
					.brand-grid-subheader
						Co-Founder // CEO
					.brand-grid-description
						MotoGuides was founded in Austin as an experiment to concentrate on a vertical market within adventure travel. Within a few months we built a full back-end solution for tour companies to create, map and sell their trips around the world, while travelers could instantly book or request custom trips.

			.col-md-12.mobile-brand-row
				.mobile-brand-image{style: "background: url('#{asset_path("background/surfsmilelogo.jpeg")}') center center no-repeat"}
				.mobile-brand-header
					MadebyAdventure
				.mobile-brand-subtitle
					Adventures with a Mission
				.mobile-brand-description
					A for-profit social enterprise, MadebyAdventure was founded in order to use travel as a force for good. Our team has partnered with non-profits, media outlets, ambassadors and travelers around the world to collaborate on trips that not only make a positive impact economically but also to minimize the environmental footprint and promote empathy through local guides and experiences. Our 2016 trips include Kyrgyzstan, Peru, Colombia, Vietnam, Mexico and Panama. A consulting branch was also established to assist our local partners on an on-going basis post-trip. 
				%a{:href => "http://www.madebyadventure.com/", :target => "_blank"}
					.mobile-brand-link
						View Site

			.col-md-12.mobile-brand-row
				.mobile-brand-image{style: "background: url('#{asset_path("background/surflessonlogo.jpeg")}') center center no-repeat"}
				.mobile-brand-header
					Adventure Local
				.mobile-brand-subtitle
					Connecting local adventure guides with travelers
				.mobile-brand-description
					I founded Adventure Local (Advlo) in 2013 after circumnavigating the globe, meeting countless amazing local guides and realize all of my best experiences stemmed from authentic connections that couldn’t be found online. Our team built a platform for 600 local guides and operators to market their trips, communicate with customers, schedule reservations and take global payments. 
				%a{:href => "http://www.advlo.com/", :target => "_blank"}
					.mobile-brand-link
						View Site

			.col-md-12.mobile-brand-row
				.mobile-brand-image{style: "background: url('#{asset_path("background/motorcycleshot.jpeg")}') center center no-repeat"}
				.mobile-brand-header
					MotoGuides
				.mobile-brand-subtitle
					Online booking software for motorcycle adventure travel
				.mobile-brand-description
					MotoGuides was founded in Austin as an experiment to concentrate on a vertical market within adventure travel. Within a few months we built a full back-end solution for tour companies to create, map and sell their trips around the world, while travelers could instantly book or request custom trips.
				%a{:href => "http://www.motoguides.com/", :target => "_blank"}
					.mobile-brand-link
						View Site


	.col-md-12.partner-signup{style: "background: url('#{asset_path("background/CamCliffPicHomepage.jpeg")}') left center no-repeat"}
		.partner-signup-title
			Let's talk travel, social entrepreneurship or future opportunities.
		%a{:href => "mailto:jonmaser@gmail.com?Subject=Hello%20Jon", :target => "_top"}
			.partner-signup-btn
				Let's Talk.

:javascript
	$(document).ready(function() {
	$('#about_me').show();
	$('#about_me').animate({ opacity: 1, top: "-60px" }, 'slow');
	});

	$(document).ready(function() {
	
		$('body *').each( function(){
	   
			var top_of_object = $(this).position().top;
			var bottom_of_window = $(window).scrollTop() + $(window).height();

			if( bottom_of_window < top_of_object  ){
	  
				$(this).addClass('hideme').css({'opacity':'0'});  
			} 
		});
	
		$(window).scroll( function(){
	  
			$('.hideme').each( function(i){
		
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				var top_of_object = $(this).position().top;
		
					if( bottom_of_window > ( top_of_object + 100 )  ){
		  
						$(this).removeClass('hideme').animate({'opacity':'1'},800); 
					}
			}); 
		});
	});;

	$(".quote-image-button").on("click", function() {
		$('.quote-image-button').css('border', '0px solid #fff');
		$(this).css('border','4px solid #fff');
    
		$('.traveler-quote-name').html($(this).data('name'))
		$('.traveler-quote-text').html($(this).data('description'))
	});

	$(".yellow-link").on("click", function() {
		$('#my_beliefs').css('background', '#f5cf87');
	});

	$(".green-link").on("click", function() {
		$('#my_beliefs').css('background', '#76c2af');
	});

	$(".blue-link").on("click", function() {
		$('#my_beliefs').css('background', '#77b3d4');
	});