.col-md-12.brands-container
	.brands-title-container
		.brands-header
			Welcome to my world of adventure.
		.brands-subtitle
			I travel like it's my job...because it is. I've started 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"} 3 companies
			from offices in 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"}7 cities
			, worked with over 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"} 700 tour operators
			across 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"} 80 countries 
			, directly run trips in 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"}4 countries
			, and have built communities of thousands, who represent 
			%b{style: "color: rgba(0,0,0,0.5); font-family: proxima_bold;"}182 countries.
	.brand-row{style: "background-color: #34495e"}
		.brand-text-box
			.brand-grid-header
				Adventure Local
			.brand-grid-subheader
				Connecting local adventure guides with travelers.
		.thumb
			.thumb-background
				.thumb-text{style: "color: rgba(255,255,255,0.5);"}
					Adventure Local (Advlo) is a web-based reservation and management platform for the tours and activities space. Over 680 local guides and operators used our system to market their trips, communicate with customers, schedule reservations and take/send payments.
					<br>
					.thumb-text-btn{:href => "http://www.advlo.com/", :target => "_blank"}
						View Site
						.fa.fa-angle-right{style: "color: #fff; font-size: 1em; text-align: center; padding-left: 12px;"}
			%a.btn{:href => "http://www.advlo.com/", :target => "_blank", style: "background: url('#{asset_path("background/surflessonlogo.jpeg")}') center center no-repeat"}
				%span advlo.com

	.brand-row{style: "background-color: #679895;"}
		.brand-text-box
			.brand-grid-header
				MadebyAdventure
			.brand-grid-subheader
				Using travel as a force for good.
		.thumb
			.thumb-background
				.thumb-text
					A for-profit social enterprise, MadebyAdventure was created in order to use travel as a force for good. Through partnering with non-profits, local service providers and travelers around the world, our team has launched projects in Kyrgyzstan, Morocco, Peru, Colombia, Vietnam, Mexico and Panama.
					<br>
					.thumb-text-btn{:href => "http://www.advlo.com/", :target => "_blank"}
						View Site
						.fa.fa-angle-right{style: "color: #fff; font-size: 1em; text-align: center; padding-left: 12px;"}
			%a.btn{:href => "http://www.madebyadventure.com/", :target => "_blank", style: "background: url('#{asset_path("background/surfsmilelogo.jpeg")}') center center no-repeat"}
				%span madebyadventure.com
			
	.brand-row{style: "background-color: #b6bbbe;"}
		.brand-text-box
			.brand-grid-header
				MotoGuides
			.brand-grid-subheader
				Online booking and marketing for motorcycle adventure travel.
		.thumb
			.thumb-background
				.thumb-text
					Motorcycle travel, a rapidly growing vertical market within the travel space, was our team's focus when we launched MotoGuides. We built a responsive marketing and reservation solution for tour companies to create, market and sell their trips around the world, while travelers could instantly book or request custom trips.
					<br>
					.thumb-text-btn{:href => "http://www.advlo.com/", :target => "_blank"}
						View Site
						.fa.fa-angle-right{style: "color: #fff; font-size: 1em; text-align: center; padding-left: 12px;"}
			%a.btn{:href => "http://www.motoguides.com/", :target => "_blank", style: "background: url('#{asset_path("background/motorcycleshot.jpeg")}') center center no-repeat"}
				%span motoguides.com


	.col-md-12.mobile-brand-row
		.mobile-brand-image{style: "background: url('#{asset_path("background/surfsmilelogo.jpeg")}') center center no-repeat"}
		.mobile-brand-header
			MadebyAdventure
		.mobile-brand-subtitle
			Adventures with a Mission
		.mobile-brand-description
			A for-profit social enterprise, MadebyAdventure was founded in order to use travel as a force for good. Our team has partnered with non-profits, media outlets, ambassadors and travelers around the world to collaborate on trips that not only make a positive impact economically but also to minimize the environmental footprint and promote empathy through local guides and experiences. Our 2016 trips include Kyrgyzstan, Peru, Colombia, Vietnam, Mexico and Panama. A consulting branch was also established to assist our local partners on an on-going basis post-trip. 
		%a{:href => "http://www.madebyadventure.com/", :target => "_blank"}
			.mobile-brand-link
				View Site

	.col-md-12.mobile-brand-row
		.mobile-brand-image{style: "background: url('#{asset_path("background/surflessonlogo.jpeg")}') center center no-repeat"}
		.mobile-brand-header
			Adventure Local
		.mobile-brand-subtitle
			Connecting local adventure guides with travelers.
		.mobile-brand-description
			I founded Adventure Local (Advlo) in 2013 after circumnavigating the globe, meeting countless amazing local guides and realize all of my best experiences stemmed from authentic connections that couldn’t be found online. Our team built a platform for 600 local guides and operators to market their trips, communicate with customers, schedule reservations and take global payments. 
		%a{:href => "http://www.advlo.com/", :target => "_blank"}
			.mobile-brand-link
				View Site

	.col-md-12.mobile-brand-row
		.mobile-brand-image{style: "background: url('#{asset_path("background/motorcycleshot.jpeg")}') center center no-repeat"}
		.mobile-brand-header
			MotoGuides
		.mobile-brand-subtitle
			Online booking and marketing for motorcycle adventure travel.
		.mobile-brand-description
			MotoGuides was founded in Austin as an experiment to concentrate on a vertical market within adventure travel. Within a few months we built a full back-end solution for tour companies to create, map and sell their trips around the world, while travelers could instantly book or request custom trips.
		%a{:href => "http://www.motoguides.com/", :target => "_blank"}
			.mobile-brand-link
				View Site

	.col-md-12.mobile-brand-row
		.mobile-brand-image{style: "background: url('#{asset_path("background/surfsmilelogo.jpeg")}') center center no-repeat"}
		.mobile-brand-header
			MadebyAdventure
		.mobile-brand-subtitle
			Adventures with a Mission
		.mobile-brand-description
			A for-profit social enterprise, MadebyAdventure was founded in order to use travel as a force for good. Our team has partnered with non-profits, media outlets, ambassadors and travelers around the world to collaborate on trips that not only make a positive impact economically but also to minimize the environmental footprint and promote empathy through local guides and experiences. Our 2016 trips include Kyrgyzstan, Peru, Colombia, Vietnam, Mexico and Panama. A consulting branch was also established to assist our local partners on an on-going basis post-trip. 
		%a{:href => "http://www.madebyadventure.com/", :target => "_blank"}
			.mobile-brand-link
				View Site