#my_beliefs.col-md-12
	.beliefs_button_container
		.belief-images
			.belief-image-button.blue-link{"data-name" => "Travel can be used as a force for good.", "data-description" => "In addition to being the world's largest wealth distribution mechanism, travel can widen perspectives, evoke empathy and bring our world closer together. Travel has not only exposed the beauty and excitement in life but also, how unaware many are about one another. Because of this, I’ve dedicated my life helping others experience our world in a meaningful and positive way.", style: "background: url('#{asset_path("background/ExperienceDesign.jpg")}') center center no-repeat; border-bottom: 4px solid #F4D03F;"}
				Sustainable Tourism.
			.belief-image-button.green-link{"data-name" => "Offline travel experiences begin online.", "data-description" => "From discovery to post-trip, I’ve developed a particular interest in how travel experiences develop online from the perspective of both the traveler and the service providers. For the past three years, I've been working with hundreds of tour operators and guides with the most authentic travel experiences to determine how best we can bridge their offline offerings on to the web.", style: "background: url('#{asset_path("background/adventureconsulting.jpeg")}') center center no-repeat"}
				Digital Travel.
			.belief-image-button.yellow-link{"data-name" => "Entrepreneurship can solve our biggest challenges.", "data-description" => "Not only do I love problem solving, I have a healthy obsession with defining the right problems to solve through design thinking and empathy research (largely due to my experiences with Stanford’s d.school and Unreasonable at Sea). When I can pinpoint a problem worth solving as well as connect with users and their needs, I develop businesses around problems, not solutions.", style: "background: url('#{asset_path("background/Quinnlocal.jpg")}') center center no-repeat"}
				Entrepreneurship.
	#belief-content
		.traveler-belief-header
			I BELIEVE...
		.traveler-belief-name
			Travel can be used as a force for good.
		.traveler-belief-text
			In addition to being the world's largest wealth distribution mechanism, travel can widen perspectives, evoke empathy and bring our world closer together. Travel has not only exposed the beauty and excitement in life but also, how unaware many are about one another. Because of this, I’ve dedicated my life helping others experience our world in a meaningful and positive way.

#partner-signup.col-md-12{style: "background: url('#{asset_path("background/buscamp.jpg")}') center center no-repeat"}
	.partner-signup-title
		Let's talk travel, social entrepreneurship or future opportunities.
	%a{:href => "mailto:jonmaser@gmail.com?Subject=Hello%20Jon", style: "text-decoration: none;", :target => "_top"}
		.partner-signup-btn
			Let's Talk.
.social-link-container
	%a.social-link{:href => "https://www.facebook.com/JonMaser", :target => "_blank", style: "background: url('#{asset_path("background/facebook.png")}') center center no-repeat"}
	%a.social-link{:href => "https://www.linkedin.com/in/jonmaser", :target => "_blank", style: "background: url('#{asset_path("background/linkedin.png")}') center center no-repeat"}
	%a.social-link{:href => "https://www.instagram.com/monjaser/", :target => "_blank", style: "background: url('#{asset_path("background/instagram.png")}') center center no-repeat"}

:javascript

	$(".belief-image-button").on("click", function() {
		$('.belief-image-button').css('border-bottom', '4px solid transparent');
		$(this).css('border-bottom','4px solid #F4D03F');
    
		$('.traveler-belief-name').html($(this).data('name'))
		$('.traveler-belief-text').html($(this).data('description'))
	});

/	$(".yellow-link").on("click", function() {
/		$('#belief-content').css('background-image', '#000');
/	});
/
/	$(".green-link").on("click", function() {
/		$('#belief-content').css('background', '#76c2af');
/	});
/
/	$(".blue-link").on("click", function() {
/		$('#belief-content').css('background', '#77b3d4');
/	});